.mainfeeds{

  .mainFeed {
    background-color: white;
    border: 1px solid #DBDBDB;
    border-radius: 5px;
    width:  500px;
    height: 700px;
    margin-right: 10px;
  }

  .feedsTop{
    height: 50px;
  }
  
  .feedsImg{
    border: 1px solid #DBDBDB;
    height: 500px;
  }

}
