* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Lobster';
  src: url('../../assets/font/Lobster/Lobster-Regular.ttf') format('truetype');
}

.main, body {
  margin: 0;
}
/* 
.mainBox {

} */

.menuBar {
  border-bottom: 1px solid black ;
  width: 100%;
  height: 40px;
  margin: 0;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.logoBox {
 position: relative;

}

.logoText {
  font-family: 'Lobster';
  font-size: 20px;
  /* text-align: center; */
  border-left: 2px solid rgb(41, 41, 41);
  width: 120px;
  margin: 0 35px;
  padding: 2px 9px;
  position: absolute;
  top: 0;
}

.searchBox {
  position: relative;
  left: 75px;
  text-align: center;
}

.searchInput::placeholder {
  text-align: center;
  font-size: 15px;
}

.fa-magnifying-glass {
  position: absolute;
  top: 7px;
  left: 65px;
  font-size: 13px;
  color: gray;
}

.fa-regular, .fa-brands {
  font-size: 20px;
}

.fa-instagram {
  position: absolute;
  left: 0;
  margin: 5px ;
}

.innerMenu {
  width: 80px;
  display: flex;
  justify-content: space-between;
  margin: auto 10px;
}

.mainBox {
  display: flex;
  justify-content: center;
  padding-top: 35px;
}

.feedsTop, .mainRightTop {
  height: 50px;

}

.mainFeeds {
  border: 1px solid gray;
  border-radius: 5px;
  width:  500px;
  height: 700px;
  margin-right: 10px;
}

.feedsImg{
  border: 1px solid gray;
  height: 500px;
}

.mainRight{
  border: 1px solid gray;
  width: 300px;

  min-width: 0px;
  margin-left: 10px;
}